---
import MainLayout from "../../layouts/MainLayout.astro";
import Tags from "../../components/Tags.astro";
import { getEntry } from "astro:content"; //getting a single entry/object
import { formatDate } from "../../utils";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();

// code for static site
// import { getCollection } from "astro:content";
// import type { CollectionEntry } from "astro:content";

// export async function getStaticPaths() {
//   const allBlogArticles: CollectionEntry<"blog">[] =
//     await getCollection("blog");

//   return allBlogArticles.map((entry) => ({
//     params: {
//       slug: entry.slug,
//     },
//     props: { entry },
//   }));
// }

// const { entry } = Astro.props;

// <MainLayout>
//   <h1>{entry.data.title}</h1>
// </MainLayout>
//  ends here
---

<link rel="stylesheet" href="../../styles/content.css" />;

<MainLayout>
  <div class="astro-content">
    <a
      href="/articles"
      class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white"
      >Back To Articles</a
    >
    <article>
      <h1 class="text-4xl font-bold mb-2 py-2">
        {entry.data.title}
      </h1>
      <h3 class="text-lg mb-2">
        {entry.data.author} on {formatDate(entry.data.pubDate)}
      </h3>
      <div class="flex flex-wrap gap-2 mb-6">
        {
          entry.data.tags.map((tag: string, index: number) => (
            <span
              class={
                index % 2 === 0
                  ? "px-2 py-1 bg-green-500 text-white rounded-full text-xs hover:opacity-90"
                  : "px-2 py-1 bg-indigo-500 text-white rounded-full text-xs hover:opacity-90"
              }
            >
              <a href={"/articles/tag/" + tag}>{tag}</a>
            </span>
          ))
        }
      </div>

      <img
        src={"/images/" + entry.data.image}
        alt="Article Image"
        class="w-full h-screen object-cover rounded-xl my-6 py-4"
      />
      <Content />
    </article>
  </div>
</MainLayout>

<style is:global>
  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
  .astro-content {
    padding: 1rem;
  }
  /* .content-wrapper :global(h2) {
    color: red;
    }
    .content-wrapper :global(p) {
      margin-bottom: 1.5rem;
      padding-left: 1rem;
  } */
</style>
